# {{ ansible_managed }}
PORT=5001
HOST=0.0.0.0
DEBUG=false

PARKING_API_URL=http://backend:5000
SERVICE_API_KEY={{ vault_service_api_key }}
FACILITY_ID={{ sentra_facility_id }}

CAMERA_MODE={{ sentra_camera_mode }}
ENTRY_CAMERA_SOURCE={{ sentra_entry_camera_source }}
EXIT_CAMERA_SOURCE={{ sentra_exit_camera_source }}

MIN_CONFIDENCE={{ sentra_min_confidence }}
DETECTION_COOLDOWN={{ sentra_detection_cooldown }}
AUTO_ENTRY_EXIT={{ sentra_auto_entry_exit | string | lower }}

FRAME_SKIP={{ sentra_frame_skip }}
FRAME_WIDTH={{ sentra_frame_width }}
FRAME_HEIGHT={{ sentra_frame_height }}
JPEG_QUALITY={{ sentra_jpeg_quality }}

CORS_ORIGINS=https://{{ sentra_domain }}
